@using Learning.App.Extensions
@model Learning.App.ViewModels.FornecedorDTO

@{
    ViewData["Title"] = "Excluir";
}

<h4 style="padding-top:50px">@ViewData["Title"]</h4>
<hr />
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class = "col-sm-10">
            @this.FormataDocumento(@Model.TipoFornecedor, @Model.Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.TipoFornecedor == 1)
            {
                <span>Pessoa Física</span>
            }
            else
            {
                <span>Pessoa Jurídica</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @if (@Model.Ativo)
            {
                <span style="background-color: green; border-radius: 8px; padding: 5px 10px; color: white;">Ativo</span>
            }
            else
            {
                <span style="background-color: grey; border-radius: 8px; padding: 5px 10px; color: white;">Inativo</span>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-dark" href="javascript:window.history.back()" ;>Voltar</a>
    </form>
</div>
